 <div class="container">
    <div class="row">

      <div class="col-md-6">
        {{ title }}<br />
        {{ 5 + '5'  }}
         <h1>Test {{ title }}</h1> 
        <h1>Test {{ getTitle() }} </h1> 
        <input type="text" [(ngModel)]="title">

        <a class="btn btn-info" (click)="myAlert('je suis là !!')"  >Mon lien </a>
        <div [ngStyle]="{'color': 'red'}" >Mon super style  </div>
        <a [class]="'btn btn-danger'" > TEST</a>
        <h3 [style.color]="'orange'" > ORANGE</h3>
        <button [ngClass]="{'btn-warning': title=='toto'}" class="btn btn-primary" > {{ title || 'hello' }} </button>
      </div>

      <div class="col-md-6">
        <!-- Ici on inclut notre component[app-first-app] dans notre page de component principal
        3 facçon d'inclure notre nouveau component :<app-first-app></app-first-app>,
        <div app-first-app ></div>, <div class="app-first-app" > <div>
        -->
        <app-first-app></app-first-app>
        <h1>Test component: IPSSI:</h1>
        <app-ipssi></app-ipssi>
      </div>

    </div>

 </div>
<!-- {{ hello + 'title' }} <h1>Test {{ getTitle() }}</h1> 

   <div class="container">
    <div class="row">

      <div class="col-md-6">
        {{ titre }}<br />

{{ 5 + '5'  }}

 <h1>Test {{ title }}</h1> 
 <h1>Test {{ getTitle() }}
<input type="text" [(ngModel)]="title">

<a class="btn btn-info" (click)="myAlert('je suis là !!')"  >Mon lien </a>
<div [ngStyle]="{'color': 'red'}" >Mon super style  </div>
<a [class]="'btn btn-danger'" > TEST</a>
<h3 [style.color]="'orange'" > ORANGE</h3>
<button [ngClass]="{'btn-warning': title=='toto'}" class="btn">{{ title || 'hello' }}>Bouton </button>
      
      </div>

      <div class="col-md-6">
        <app-first-app></app-first-app>
      </div>

    </div>

 </div>
-->
 

